body {
    background-image: url(https://cdn.discordapp.com/attachments/790352562033262616/1014892714644475984/photo-1519638399535-1b036603ac77.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
   }

   p {
    font-family: Helvetica;
    font-size: 20px;
    color:white;
    }

   h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica;
    color: white;
   }

   a:link,:visited {
    color:aqua
   }
   a:hover,:active {
    color: white;
   }

   .main {
    background-color: rgba(0,0,0,0.4);
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 50px;
    text-align: center;
    border: 2px;
    border-radius: 20px;
   }
   .main p {
    text-align: left;
    color: white;
    font-family: Helvetica;
    font-size: 25px;
   }
   .main h1,h2,h3,h4,h5,h6 {
    text-align: center;
    color: white;
    font-family: Helvetica;
   }
   .social-links {
    background-color: rgba(0,0,0,0.4);
    height: 400px;
    width: 400px;
    margin: auto;
    margin-top: 150px;
    margin-bottom: 150px;
    padding: 50px;
    text-align: center;
    border: 2px;
    border-radius: 20px;
   }
   .social-links h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica;
    text-align: center;
    color: white;
   }
   .social-links p,a {
    font-family: Helvetica;
    font-size: 25px;
   }

   footer {
   text-align: left;
   padding: 50px;
   border: 2px;
   border-radius: 20px;
   background-color: rgba(0,0,0,0.4);
   position: center center;
   display: flex;
   flex-wrap: wrap;
   }
   .footer-section {
    width: 20%;
    margin: auto;
   }
   .footer-section h1 {
    text-align: center;
    display: center;
    color: white;
   }

   .header {
    text-align: center;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
    background-color: rgba(0,0,0,0.4);
    }
    .sticky {
    position: fixed;
    padding: 20px;
    border: 2px;
    border-radius: 20px;
    width: 96.5%;
    top: 8px;
    }
    .content {
    padding: 0px;
    }
