body {
    background-image: url("https://cdn.discordapp.com/attachments/928181299695480832/1019228267737251920/anime_android-iphone-desktop-hd-backgrounds-wallpapers-1080p-4k-wz2wo-3840x2160.jpg");
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
   }

   p {
    font-family: Arial;
    font-size: 20px;
    text-align: center;
    
   }

   h1,h2,h3,h4,h5,h6 {
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    display: center;
    padding: 20px 25px;
    background-color:deepskyblue;
   }